includes:
    - phpstan-baseline.neon
parameters:
    level: 5
    reportUnmatchedIgnoredErrors: true
    phpVersion: 80400
    paths:
        - src
        - tests/Stubs/Testing/FrameworkTestCase.php
    tmpDir: .phpstan-cache
